.poc-recebendo {
  height: 400px;
  background-color: rgb(0, 3, 167);
  margin: auto;
  border: 3px solid black;
  overflow: auto;
  padding: 10px;
  position: absolute;
  left: 60%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 400px;
  text-align: center;
  border-radius: 20px;
}

.poc-recebendo h1{
    color: #f2f2f2;
    margin-bottom: 20px;
}

.poc-recebendo ul{
    font-size: 0.9vw;
    color: #f2f2f2;
    margin: 40px
}

.poc-recebendo li{
    margin: 10px;
}

